{% extends 'header.html' %}
{% block body %}
<form action="" method="get">
    <input type="search" name="title">
    <button type="submit">search</button>
</form>
{% if is_admin %}
        <a href="{% url 'add' %}"><button>ADD</button></a>
{% endif %}
{% for article in articles %}
<a href="{% url 'article_detail' article.id %}">
    <div style="border: 3px solid black;">
        <h2>{{ article.title }}</h2>  
        <h3>{{ article.date }}</h3>
        <h4>{{ article.view }}</h4>
        {% if is_admin %}
        <a href="{% url 'update' article.id %}"><button>UPDATE</button></a>
        <a href="{% url 'delete' article.id %}"><button>DELETE</button></a>
        {% endif %}
    </div>
    <br>
</a>
{% endfor %}
<div class="pagination"></div>
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
            <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}